.BWButtonBorder {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
}

.BWButtonBorder:hover {
    background: #3498db;
  color: #fff;
}